<!-----Teacher Page----->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing page</title>
    <!--Bootstrap libraries-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--customised libraries-->
    <link rel="stylesheet" type="text/css" style="css/style.css">
    <link rel="stylesheet" type="text/css" style="css/responsive.css">
</head>
<body>
    {{>navigation}}
    <h1>{{teacher}} Student : {{grpno}}</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">Fill Forms</button>
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Form Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button  id="7term" onclick="term_7()" class="btn btn-secondary">7th Sem Term Work</button>      
                <button  id="7oral" onclick="oral_7()" class="btn btn-secondary">7th Sem Oral Work</button>
                <hr>
                <button  id="8term" onclick="term_8()" class="btn btn-secondary">8th Sem Term Work</button>
                <button  id="8oral" onclick="oral_8()" class="btn btn-secondary">8th Sem Oral Work</button>
                <hr>
                <button id="final" onclick="final()" class="btn btn-secondary">Final Assesment</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

</body>
<script>
    function term_7(){
            console.log('7th term was clicked....')
            try{
                window.location.replace("{{grpno}}/7term")
            
                console.log('Page loaded....')
            }
            catch (ex)
            {
                console.log(`Something wrong happend ${ex}`);
            }
            finally 
            {
                console.log("7th term action done!!!!")  ;  
            }
        }
    function oral_7(){
            console.log('7th oral was clicked....')
            try{
                window.location.replace("{{grpno}}/7oral")
            
                console.log('Page loaded....')
            }
            catch (ex)
            {
                console.log(`Something wrong happend ${ex}`);
            }
            finally 
            {
                console.log("7th oral action done!!!!")  ;  
            }
        }
    function term_8(){
            console.log('8th term was clicked....')
            try{
                window.location.replace("{{grpno}}/8term")
            
                console.log('Page loaded....')
            }
            catch (ex)
            {
                console.log(`Something wrong happend ${ex}`);
            }
            finally 
            {
                console.log("8th term action done!!!!")  ;  
            }
        }
    function oral_8(){
            console.log('8th oral was clicked....')
            try{
                window.location.replace("{{grpno}}/8oral")
            
                console.log('Page loaded....')
            }
            catch (ex)
            {
                console.log(`Something wrong happend ${ex}`);
            }
            finally 
            {
                console.log("8th oral action done!!!!")  ;  
            }
        }
    function final(){
            console.log('Final was clicked....')
            try{
                window.location.replace("{{grpno}}/final")
            
                console.log('Page loaded....')
            }
            catch (ex)
            {
                console.log(`Something wrong happend ${ex}`);
            }
            finally 
            {
                console.log("Final action done!!!!")  ;  
            }
        }
</script>
</html>