/* css codes for the website view */

    /* 
#1B325E - SPACE CADET
#1FBBB0 - LIGHT SEA GREEN
#FAA91A - BRIGHT YELLOW (CRAYOLA)
#F05323 - FLAME
#2991CF - RICH ELECTRIC BLUE
*/

body, html {
    height: 95%;
    font-family: sans-serif;
    /* background: url('../../images/back1.gif') no-repeat center center fixed; */
    background: url('../images/back2.gif') no-repeat scroll center center;
    background-size: cover;
  }
  
  .form {
    margin: auto;
    padding: 5px;
    max-width: 420px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(to bottom, #00183b, #002452, #00306b, #003d85, #004a9f);
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(27,50,94);
    letter-spacing: 0.5px;
  }
  
  .form h1{
    text-align: center;
    margin: 20px 0 35px 0;
    color: white;
    text-shadow: 1px 3px rgba(255, 255, 255, 0.1);
  }
  
  .form-group {
    margin: 2px 2px;
    max-width: 100%;
    min-height: 68px;
    margin: 10px 0 0 0;
    padding: 0 35px;
    border-radius: 10px;
    position: relative;
  }
  
  .form-group input,select{
    width: 100%;
    box-sizing: border-box;
    height: 38px;
    padding: 0 12px;
    font-size: 17px;
    letter-spacing: 0.25px;
    border-radius: 20px;
    border: 1.5px solid rgb(31,187,176);
    background-color: rgba(248,255,174, 0.2);
    /* autocomplete: off; */
    color: rgba(248, 255, 174, 0.9);
  }
  
  .form-group input:active,select:active,
  .form-group input:focus,select:focus {
    background-color: rgba(31,187,176, 0.2);
    outline: none;
    /* autocomplete: off; */
    box-shadow: 0 0 2px 0 rgb(248, 255, 174);
    border: 1.5px solid rgb(248, 255, 174);
    color: rgb(248, 255, 174);
  }
  
  .form-group input::selection {
    background-color: rgba(31,187,176);
  }
  
  .form-group label{
    pointer-events: none;
    position: absolute;
    margin: 0;
    padding: 0 2px;
    top: 9px;
    left: 47px;
    font-size: 16px;
    color: rgba(230, 230, 230, 0.7);
    transition: all 0.12s ease;
  }
  
  .form-group input:focus + label,
  .form-group input:not(:placeholder-shown) + label{
    transform: translateY(-27px);
    font-size: 14px;
    font-weight: bold;
    color: rgb(248, 255, 174);
  }
  
  .error{
    color: rgb(255, 102, 102);
    margin: 3px 0px 0px 12px;
    font-size: 12.5px;
    display: none;
    letter-spacing: 0px;
  }
  
  .form input[type="submit"]{
    display: block;
    margin: 20px auto 10px;
    width: 110px;
    height: 45px;
    border-radius: 25px;
    font-size: 17px;
    border: none;
    text-transform: capitalize;
    background-color: rgba(31,187,176, 0.8);
    color: white;
    cursor: auto;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .form input[type="submit"]:hover,
  .form input[type="submit"]:focus{
    background-color: #2991CF;
    box-shadow: 0 0 2px 0px #2991CF;
  }
  
  .form-bottom {
    text-align: center;
    margin: 15px 0;
    font-size: 12px;
    letter-spacing: 0.75px;
  }
  
  .form-bottom a{
    text-decoration: none;
    color: #1FBBB0;
  }
  
  .form-bottom a:hover,
  .form-bottom a:focus{
    color: #2991CF;
    outline: none;
  }

  .form-control option{
    width: 100%;
    box-sizing: border-box;
    height: 38px;
    padding: 0 12px;
    font-size: 17px;
    letter-spacing: 0.25px;
    border-radius: 20px;
    border: 1.5px solid rgb(31,187,176);
    background-color: rgba(248,255,174, 0.2);
    /* autocomplete: off; */
    color: rgba(196, 211, 33, 0.9);
  }
